* 
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  block-size: 100%;
  inline-size: 1200px;
  margin: auto;
  background-color: #1b1919;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  align-items: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 42px;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: #545050;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  border-radius: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  content: "";
}

.button {
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  border: 1px solid #fff;
  color: #fff;
  background: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button {
  width: 190px;
  padding: 6px 73px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  gap: 26px;
  flex-direction: column;
  width: 399px;
  height: 534px;
  font-family: 'Oswald', sans-serif;
  justify-content: start;
  inline-size: 100%;
}

.titel {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 26px;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
  height: 300px;
  position: relative;
  overflow-y: auto;
  align-self: baseline;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 4px 0;
  max-width: 200px;
}

.content__video-card-titel {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 6px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-left: auto;
  object-position: 50% 50%;
  object-fit: cover;
}

.more-button {
  display: flex;
  width: 399px;
  height: 34px;
  font-family: 'Fira Sans Condensed', sans-serif;
  align-items: center;
}
